* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Madimi One', static;
}

:root {
    --bg-colour: rgb(0, 0, 0);
    --second-bg-colour: rgb(0,0,0);
    --text-color: white;
    --main-color: rgb(255,163,26);
    --secondary-color: rgb(114,113,113);
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-colour);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

span{
    color: var(--main-color)
}

/* CSS for navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3% 2rem;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: black;
}

.logo {
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

/* CSS for home section */

.home {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    min-height: calc(100vh - 80px); 
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;

}

.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img{
    border-radius:50%;
}

.home-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;  
    object-fit: cover;  
    z-index: -1; 
}

/* CSS for project section */

.headingProject {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0;
}

.project ul {
    list-style: none;
}

.project-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.project-filter li {
    margin: 5px;
    padding: 5px 50px;
    color: white;
    font-size: 2rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.project-filter-active {
    border: 1px solid var(--main-color);
    border-radius: 30px;    
    color: white;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
}

.project-box {
    width: 330px;
    padding: 15px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-box img {
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-radius: 5px;
}

/* CSS for resume section */

.headingResume {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0;
}

.resume-description {
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--secondary-color);
}
.title {
	color: var(--main-color);
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}

.item-preTitle {
	font-size: 1.4rem;
	color: var(--secondary-color);
	font-weight: 300;
}

.item-title {
	font-size: 1.6rem;
	color: white;
	font-weight: 500;
	margin: 0.8rem 0;
}

.item-subtitle {
	font-size: 1.4rem;
	color: var(--secondary-color);
	font-weight: 400;
}

.resume-container {
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	padding: 5rem;
	background: #070707;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}

.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}

.group-1 , .group-2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.group-3 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}
.group-3 > div {
	flex: 1;
}

.profile-container {
	display: flex;
	gap: 2rem;
}

.profile-name {
	font-weight: 200;
	font-size: 6rem;
	display: block;
}

.profile-title {
    margin-top: 2rem;
	font-size: 2rem;
	font-weight: 400;
}

.downloadBtn {
	display: block;
	text-decoration: underline;
    color: white;
	font-size: 1.6rem;
	margin-top: 1rem;
}
.downloadBtn:hover {
	color: var(--main-color);
}

.expertise-list {
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}

.skill-item {
	margin-top: 2rem;
}
.skill-name {
	font-size: 1.6rem;
	font-weight: 700;
}

.edu-item ,.language-item, .exp-item , .project-item , .social-items {
	margin-top: 2rem;
}

.social-item, .contact-item {
	margin-top: 1.5rem;
	font-size: 1.5rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-color);
}

.social-item:hover {
	color: var(--main-color);
}

.social-item svg {
	width: 2rem;
}

hr {
	grid-column: 1/-1;
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 1rem;
	border: none;
	border-top: 2px solid rgba(128, 128, 128, 0.229);
}

/* CSS for others section */

.headingOthers {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0;
}

.others-container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.photo-gallery {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    border-radius: 20px;
    border: 3px solid var(--main-color);
    position: relative;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: rgba(31, 61, 71, 0.22);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.2s;
}

.card:hover .card-body {
    right: 0;
}

.card-title {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
}

.card-sub-title {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

@media(max-width: 768px) {
    .photo-gallery {
        flex-direction: column;
    }
}


/* CSS for contact section */

.headingContact {
    font-size: 8rem;
    text-align: center;
    margin: 4rem 0;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.contact {
    background-color: var(--bg-colour);
}

.contact h2 {
    margin-bottom: 3rem;
    color: white;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 3rem auto;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input ,
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-bg-colour);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
}

/* CSS for footer */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0 ;
    background-color: var(--second-bg-colour);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color)
}

.footer .social a {
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2)translateY(-2px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}